@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*,
*::before,
::after {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ddd, #fff);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(6, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.8rem;
  border: 1px solid white;
  border-radius: 5px;
  margin: 2px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  transition: all 0.5s ease;
  background-color: rgb(225, 225, 225);
}

.span-two {
  grid-column: span 2;
}

.span-four {
  grid-column: span 4;
}

.output {
  grid-column: 1 / -1;
  min-height: 100px;
  background-image: linear-gradient(-45deg, #e2a968, #f38383);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
  border-radius: 5px;
  margin: 2px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.3rem;
}

.operation {
  background-color: rgb(225, 225, 225) !important ;
}

.operation:hover {
  background-color: rgb(175, 175, 175) !important ;
}

.remove {
  background-color: rgb(245, 207, 207) !important ;
}

.remove:hover {
  background-color: rgb(250, 154, 154) !important ;
}

.equals {
  background-color: rgb(189, 241, 237) !important ;
}

.equals:hover {
  background-color: rgb(146, 228, 221) !important ;
}
